@charset "UTF-8";
/* FUENTES */
@font-face {
  font-family: almendra;
  src: url(../fonts/Almendra-Bold.otf) format("truetype"); }
@font-face {
  font-family: pakenham;
  src: url(../fonts/pakenham.ttf) format("truetype"); }
body {
  font-family: Arial;
  background: #C9C9C9;
  /*#C29957;*/
  background-image: url("../images/fondo1.jpg");
  min-width: 450px;
  max-width: 1110px;
  margin: 0 auto;
  color: white; }

h1, h2 {
  color: white;
  font: 32px/1 almendra; }

header h2 {
  font-size: 18px;
  text-align: center;
  color: black;
  margin-top: -30px;
  padding-bottom: 10px; }

header h1 {
  font-size: 40px;
  text-align: center;
  color: black; }

header img {
  display: block;
  margin: auto;
  width: 10%;
  height: 10%;
  padding-top: 20px;
  margin-bottom: -30px; }

nav {
  font-weight: bold; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    border: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; }
  nav li {
    float: left; }
  nav a {
    text-decoration: none;
    display: block;
    padding: 9px;
    background: black;
    color: white; }
    nav a:hover {
      background: #80664c;
      color: white; }

p {
  font: 16px/1 Arial; }

label {
  display: block; }

nav a.current {
  background: #a0805f; }

.error {
  color: white;
  background-color: #990033; }

.centered {
  text-align: center; }

/* ESTILO DE LOS FLASH */
.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ffccdd;
  color: #990033;
  border: 1px solid #990033; }

.success {
  color: #00ff33;
  background-color: #444444; }

/* ESTILO DE LA SALIDA DE LOS DATOS */
.hidden {
  display: none; }

.unhidden {
  display: block; }

div.unhidden {
  overflow: auto;
  width: 95%; }

table {
  border-collapse: separate;
  margin: 0 auto 0 auto; }
  table.ini {
    width: 750px; }
    table.ini th {
      font-family: pakenham;
      font-size: 20px;
      text-align: center;
      color: white;
      border: 0px;
      border-radius: 7px 7px 7px 7px;
      background-color: #403326;
      padding: 2px 0px 6px 15px;
      margin-top: 40px;
      margin-bottom: 23px; }
    table.ini td {
      font-family: Arial;
      color: #444444;
      vertical-align: top;
      text-align: left;
      font-family: arial;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      line-height: 20px;
      background-color: #ffffff;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      border: 2px solid #333029; }

/* ESTILO PARA LA PRESENTACIÓN DE LA GRAMÁTICA */
.grammar {
  background-color: #7f674c;
  width: 1070;
  border-radius: 7px;
  color: #e5b98a;
  padding: 20px; }

/* ESTILO DE LA TABLA loadfile */
table.loadfile {
  border-collapse: separate;
  border-spacing: 35px 15px;
  background-color: #7f674c;
  width: 1110px;
  border-radius: 7px;
  color: #e5b98a; }
  table.loadfile td.file {
    border-radius: 7px;
    background-color: #e5b98a;
    width: 200px; }
  table.loadfile td.save {
    width: 200px; }

/* ESTILO DE LOS FICHEROS */
ul.file {
  list-style: none;
  padding: 5; }

.example {
  width: 100px;
  background-color: #403326;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  font-weight: bold; }

/* ESTILO DEL TEXTAREA */
#original {
  /* http://www.css3maker.com/index.html */
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #FFFFFF;
  padding: 15px 0px 24px 21px;
  border: none;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 10px 10px 5px #3e332f;
  -webkit-box-shadow: 10px 10px 5px #3e332f;
  box-shadow: 10px 10px 5px #3e332f; }

/* QUITAR EL RECUADRO CUANDO TIENE EL FOCUS */
:focus {
  outline: 0px; }

/* ESTILO DEL BOTÓN */
.mylink {
  width: 100px;
  font-weight: bold;
  -moz-box-shadow: inset 0px 1px 0px 0px #a6827e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a6827e;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #381f05), color-stop(1, #664b2e));
  background: -moz-linear-gradient(top, #381f05 5%, #664b2e 100%);
  background: -webkit-linear-gradient(top, #381f05 5%, #664b2e 100%);
  background: -o-linear-gradient(top, #381f05 5%, #664b2e 100%);
  background: -ms-linear-gradient(top, #381f05 5%, #664b2e 100%);
  background: linear-gradient(to bottom, #381f05 5%, #664b2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#381f05', endColorstr='#664b2e',GradientType=0);
  background-color: #381f05;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534; }
  .mylink:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #664b2e), color-stop(1, #381f05));
    background: -moz-linear-gradient(top, #664b2e 5%, #381f05 100%);
    background: -webkit-linear-gradient(top, #664b2e 5%, #381f05 100%);
    background: -o-linear-gradient(top, #664b2e 5%, #381f05 100%);
    background: -ms-linear-gradient(top, #664b2e 5%, #381f05 100%);
    background: linear-gradient(to bottom, #664b2e 5%, #381f05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#664b2e', endColorstr='#381f05',GradientType=0);
    background-color: #664b2e; }
  .mylink:active {
    position: relative;
    top: 1px; }
